<h3>INICIAR SESION</h3>
<br/>
<br/>
<br/>
<div class="row">
    <form class="col s12"  ng-submit="logea()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="usuario">
          <label for="first_name">Usuario</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="contrasena">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
  </div>